@import './normalize.css';

header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  
}

header button{
  border-width: 0;
  background: none;
  cursor: pointer;
  font-size: 15px;
}


.vocab-List{
  display: flex;
  justify-content: center;
}

[class^="vocab-List-"]{
  display: flex;
  flex-direction: column;
}
